#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


ul,
ol {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
  /* color: inherit; */
}

.active {
  color: #646cff;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}


img {
  max-width: 100%;
  display: block;
}


article>*+* {
  margin-top: 1em;
}


input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




input {
  display: block;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  outline: none;
  border: none;
  outline-color: #646cff;
}

input {
  margin-top: 4px;
  padding: 4px;
  font-size: 18px;
  color: white;
  border-radius: 8px;

  &:hover {
    border: 2px solid #646cff;
  }

  &:active {
    border: 2px solid #646cff;
  }

}

label {
  text-align: left;
  margin-bottom: 8px;
}